boto3==1.26.13
datasets==2.7.0
jiwer==2.5.1
librosa==0.9.2
nemo==4.3.2
nemo_toolkit==1.12.0
numpy==1.23.4
pandas==1.5.1
protobuf==4.21.12
speechbrain==0.5.13
torch==1.8.1
torchaudio==0.8.0a0+e4e171a
tqdm==4.64.1
transformers==4.26.0.dev0
whisper==1.0
wordcloud